<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <title>Block?</title>
    <img width="60" length="60" src="https://mario.wiki.gallery/images/thumb/4/48/Question_Block_Artwork_-_Super_Mario_3D_World.png/1200px-Question_Block_Artwork_-_Super_Mario_3D_World.png"></img>
</head>
<body>
    <h1>Block?</h1>
    <h2>Welcome to Block?! A video-games website for all you gamer geeks :)</h2>
    <h1> PLEASE CLICK ONLY ON MINECRAFT IN THE XBOX SECTION
    <center>
    <div class="top_div">
            <div class="top_div" class="divv" id="Xbox">Xbox</div>
            <div class="top_div" class="divv" id="Nintendo">Nintendo</div>
            <div class="top_div" class="divv" id="PS">PlayStation</div>     
    </div>
    </center>
    <center>     
        <img width="200" height="270" src="https://m.media-amazon.com/images/I/81gN4gl9MzL.jpg"></img>
        <img width="200" height="270" src="https://m.media-amazon.com/images/I/81VGpLvXQuL._AC_UF1000,1000_QL80_.jpg"></img>
        <img width="200" height="270" src="https://target.scene7.com/is/image/Target/GUEST_0c8a0d59-dd86-43f3-a98a-b0d6439972ab?wid=488&hei=488&fmt=pjpeg"></img>        
        <h1>Xbox section</h1>
        <a href="/product"> <img width="200" height="270" src="https://m.media-amazon.com/images/I/81gN4gl9MzL.jpg"></a>
        <a href=""> <img width="200" height="270" src="https://m.media-amazon.com/images/I/71LSwnEXpXL._SL1500_.jpg"></a>
        <h1>Nintendo section</h1>
        <a href=""> <img width="200" height="270" src="https://target.scene7.com/is/image/Target/GUEST_0c8a0d59-dd86-43f3-a98a-b0d6439972ab?wid=488&hei=488&fmt=pjpeg"></a>
        <a href=""> <img width="200" height="270" src="https://m.media-amazon.com/images/I/81qKst2CMOL._SY500_.jpg"></a>
        <h1>PlayStation section coming soon ;)</h1>
    </center>
</body>
</html>