body {
	background-color: royalblue;
}

.top_div{
	border-style:solid ;
	border-radius:5px;
	padding: 10px;
	border-color:lightgoldenrodyellow;
	align-content: center;
	display: inline-block;
	background: yellow;
}
.divv{
	background:yellow;
}